<template>
<div>
       <h1>Game Play</h1>
       <question></question>
        <answers></answers>
       
</div>

</template>

<script>
import Question from './QuizQuestion.vue'
import Results from './QuizResults.vue'
export default {
    components: {
        questions:Question,
        results: Results
    },

}
</script>

<style>

</style>